<!DOCTYPE html>
<html>
  <head>
    <title>CommercialProj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
      <%= link_to 'Simple Ecommerce', products_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <% if user_signed_in? %>
              <form class="form-inline my-2 my-lg-0">
                  <div class="input-group input-group-sm">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                      <div class="input-group-append">
                          <button type="button" class="btn btn-secondary btn-number">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
                  <%= link_to carts_path, class: "btn btn-success btn-sm ml-3" do %>
                    Cart
                    <%= content_tag :span, current_order.order_items.size, class: 'badge badge-light' %>
                  <% end %>

                  <%= link_to 'Profile', edit_user_registration_path, method: :delete, class: 'btn-success btn btn-success btn-sm ml-3' %>
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'ml-3' %>
              </form>
              
            <% else %>
              <%= link_to 'Login', new_user_session_path, class: 'btn-success btn btn-success btn-sm ml-3' %>
            <% end %>

        </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
